<div class="container">
<h1 class="Display-4 text-center">Listar Jogos</h1>
<table class="table">    
        <thead>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">IdCasa</th>
            <th scope="col">IdVisitante</th>
            <th scope="col">IdEstadio</th>
        </thead>    
        <tbody>
            <tr *ngFor="let Jogo of jogos">
            <th scope="row">{{Jogo.IdJogo}}</th>
            <td>{{Jogo.Nome}}</td>
            <td>{{Jogo.IdCasa}}</td>
            <td>{{Jogo.IdEstadio}}</td>            
        </tr>
        </tbody>
</table>
</div>