<h1 class="display-4 text-center">Incluir Cliente</h1>

<div class="container">
    <form method="POST" #frm="ngForm" (ngSubmit)="incluir(frm)">
        <div class="form-group">
            <label for="Nome">Nome</label>
            <input type="text" name="nome" id="nome" class="form-control" placeholder="Nome"
                [(ngModel)]="cliente.nome" required />
        </div>
        <div class="form-group">
            <label for="Email">Email</label>
            <input type="text" name="Email" id="Email" class="form-control" placeholder="Email"
                [(ngModel)]="cliente.email" required value="fulano" />
        </div>              
        <button id="botaoEnviar" type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>